# Ignore local raw telescope data matrices
data/raw/*
!data/raw/.gitkeep

# Ignore general FITS extensions
*.fits
*.fit
*.fts

#Ignore processed master output data matrices
data/processed/*
!data/processed/.gitkeep

# Ignore operating system background memory artifacts
.DS_Store
.ipynb_checkpoints/
